h1 {
  font-family: Tahoma;
  color: lightslategray;
  font-size: 24px;
  text-align: center;
  padding:16px;
}
p {
  font-family: Verdana;
  color: #778899;
  font-size: 12px;
}

.icon {
  width: 50%;
  height: auto;
}
body {
  background-color: black;
}

.maiSty {
  display:flex;
  justify-content: center;
  border: 1.5px slategray solid;
}
/*.maiSty styling doesn't operate on <a> tag*/
a {
  display: flex;
  justify-content: center;
}

.curPreCon {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
    .curPreTitle {
      grid-area: 1/1/1/5;
    }
    .curPre1 {
      grid-area: 2/1/3/2;
      background-color: #c47b46;
    }
    .curPre2 {
      grid-area: 2/2/3/3;
      background-color: #c47b46;
    }
    .curPre3 {
      grid-area: 2/3/3/4;
      background-color: #c47b46;
    }
    .curPre4 {
      grid-area: 2/4/3/5;
      background-color: #c47b46;
    }


.curCarCon {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
    .curCarTitle {
      grid-area: 1/1/1/4;
    }
    .curCar1 {
      grid-area: 2/1/3/2;
      background-color: #507d2a;
    }
    .curCar2 {
      grid-area: 2/2/3/3;
      background-color: #507d2a;
    }
    .curCar3 {
      grid-area: 2/3/3/4;
      background-color: #507d2a;
    }
.curWriCon {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
    .curWriTitle {
      grid-area: 1/1/1/4;
    }
    .curWri {
      grid-area: 2/1/3/4;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      
      background-color: #5D1F1E;
    }

.oldWorCon {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
    }
    .oldWorTitle {
      grid-area: 1/1/1/4;
    }
    .oldWor1 {
      grid-area: 2/1/3/2;
    }
    .oldWor2 {
      grid-area: 2/2/3/3;
    }
    .oldWor3 {
      grid-area: 2/3/3/4;
    }
    
  @media (max-width: 600px){
  /*Strangely: the <a> tag added some sizing adjustments with the media query as well...*/
  .curPreCon {
    display: flex;
    flex-direction: column;
  }
  .curCarCon {
    display: flex;
    flex-direction: column;
  }
  .curWriCon {
    display: flex;
    flex-direction: column;
  }
  .oldWorCon {
    display: flex;
    flex-direction: column;
  }
}